@media screen and (max-width: 425px) {

	%cheats-media-shared {
		grid-template-columns: repeat(2, 1fr);

		i {
			display: block;
		}

	}

	.cheats {

		@extend %cheats-media-shared;

		&-command {
			grid-template-columns: repeat(2, 1fr);
			i {
				display: block;
			}			
		}

		&-environment {

			i {
				display: block;
			}			

		}

	}

}