@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


header {
	background: #3D5A80;
	color: #fff;
	text-align: center;
}

header h1 {
	font-size: 3rem;
	text-transform: uppercase;
}

#cheatsheet-index {
	display: flex;
}